body{
    display: flex;
    flex-direction: column;
}

#btnBack{
    padding: 5px;
    border-radius: 20px;
    text-decoration: none;
    background-color: chartreuse;
}

#btnBack:active{
    filter: brightness(1.2);
}

.back-button{
    margin: 10px;

}

#logo-pokedex{
    align-self: center;
}

#pokemonDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
    margin: 1rem;
    color: white;
}

ol li{
    list-style: none;
}

#pokemonDetail img {
    height: 150px;
    margin: 1rem 0;
}

#pokemonDetail .stats {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 1rem;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 400px;
}

#pokemonDetail .stats li {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
